
body {
    font-family: Arial, Helvetica, sans-serif;
}

.results {
    display: flex;
    flex-direction: column;
}

.videoResult {
    margin: 2.5%;
    border-style: dashed;
}

#pageButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
